{
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/prop-types": 0,
    "semi": [2, "never"]
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "exports": true
  }
}
